/*******************************************************************************
**** Helpers
*******************************************************************************/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/*******************************************************************************
**** Variables :: Modify this for branding colors
*******************************************************************************/
/*******************************************************************************
**** Styling
*******************************************************************************/
.brand-primary {
  color: #2e536b !important;
}
.brand-secondary {
  color: #f89406 !important;
}
a {
  color: #2e536b;
}
a:hover {
  color: #1f3747;
}
a.brand-secondary {
  color: #f89406;
}
a.brand-secondary:hover {
  color: #c67605;
}
.navbar .nav > li > a,
header.navbar .ui-navigation .nav > li > a {
  color: #999999;
}
.navbar .nav > li > a:hover,
header.navbar .ui-navigation .nav > li > a:hover {
  color: #808080;
}
.navbar .nav > li.active > a,
header.navbar .ui-navigation .nav > li.active > a,
.navbar .nav > li.active > a:hover,
header.navbar .ui-navigation .nav > li.active > a:hover {
  color: #f89406;
  background-color: none;
}
header.navbar .ui-navigation .nav {
  margin-top: 12px;
}
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: #1f3747;
}
.dropdown-menu {
  background-color: #ffffff;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  background-color: #1f3747;
}
[data-page] header {
  color: #2e536b;
}
