/*******************************************************************************
**** Helpers
*******************************************************************************/
.margin-top    { margin-top   : @gridGutterWidth !important; }
.margin-right  { margin-right : @gridGutterWidth !important; }
.margin-bottom { margin-bottom: @gridGutterWidth !important; }
.margin-left   { margin-left  : @gridGutterWidth !important; }
.margin-sides  { .margin-right(); .margin-left(); }
.margin-tops   { .margin-top(); .margin-bottom(); }
.margin-all    { .margin-sides(); .margin-tops(); }

.margin-no-top    { margin-top   : 0 !important; }
.margin-no-right  { margin-right : 0 !important; }
.margin-no-bottom { margin-bottom: 0 !important; }
.margin-no-left   { margin-left  : 0 !important; }
.margin-no-sides  { .margin-no-right(); .margin-no-left(); }
.margin-no-tops   { .margin-no-top(); .margin-no-bottom(); }
.margin-none    { .margin-no-sides(); .margin-no-tops(); }

.padding-top    { padding-top   : @gridGutterWidth !important; }
.padding-right  { padding-right : @gridGutterWidth !important; }
.padding-bottom { padding-bottom: @gridGutterWidth !important; }
.padding-left   { padding-left  : @gridGutterWidth !important; }
.padding-sides  { .padding-right(); .padding-left(); }
.padding-tops   { .padding-top(); .padding-bottom(); }
.padding-all    { .padding-sides(); .padding-tops(); }

.padding-no-top    { padding-top   : 0 !important; }
.padding-no-right  { padding-right : 0 !important; }
.padding-no-bottom { padding-bottom: 0 !important; }
.padding-no-left   { padding-left  : 0 !important; }
.padding-no-sides  { .padding-no-right(); .padding-no-left(); }
.padding-no-tops   { .padding-no-top(); .padding-no-bottom(); }
.padding-none    { .padding-no-sides(); .padding-no-tops(); }

.text-red, .text-error     { color: @errorText !important;   }
.text-green, .text-success { color: @successText !important; }
.text-yellow, .text-warn   { color: @warningText !important; }
.text-blue, .text-info     { color: @infoText !important;    }

.text-gray         { color: @gray !important;        }
.text-gray_light   { color: @grayLight !important;   }
.text-gray_lighter { color: @grayLighter !important; }
.text-gray_dark    { color: @grayDark !important;    }
.text-gray_darker  { color: @grayDarker !important;  }

.text-uppercase { text-transform: uppercase; }
.text-normal    { font-weight: normal; }
.text-bold      { font-weight: bold;   }

.text-left   { text-align: left !important;   }
.text-center { text-align: center !important; }
.text-right  { text-align: right !important;  }

.layout-block       { display: block; }
.layout-inlineblock { display: inline-block; .ie7-inline-block(); }
.layout-inline      {
	display: inline;

	&.fallback {
		@media (max-width: 480px) {
			.layout-block();
		}
	}
}
.layout-clear       {
	&:not(.layout-clear-fallback) { clear: both; }

	&.layout-clear-fallback {
		@media (max-width: 767px) {
			clear: both;
		}
	}
}

// Override to Responsive Utility Classes
[class*="hidden-"] {
	&.visible,
	&.override,
	&.layout-block {
		display: block !important;
	}
	&.layout-inlineblock {
		display: inline-block !important;
	}
}

// Mobile portrait & landscape
.pull-left.pull-fallback {
	@media (max-width: 767px) {
		float: none;
		clear: left;
	}
}
.pull-right.pull-fallback {
	@media (max-width: 767px) {
		float: left;
		clear: left;
	}
}